Package: com.twodayslate.touchswipe
Name: touchswipe
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
Version: 0.0.1-15
Installed-Size: 72
